body{
    font-family: "Helvetica W01", "Microsoft YaHei", 微软雅黑, SimHei, 黑体, "PingFang SC", 萍方, "Noto Sans", sans-serif;
    font-style: normal;
    letter-spacing: normal;
    background:#fff;
  }
.slogan{
    font-family: "Orator W01", "Microsoft YaHei", serif;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 16px;
}
#search-box{
  box-sizing: border-box;
  background: #fff;
  border-radius: 50px;
}
#search-box #search-text{
  border: none;
  outline: none;
font-size: 13px;
width: 100px ;
border-radius: 50px;
transition: all 0.25s ease-in-out;
}
#search-box:hover #search-text, #search-box #search-text:valid{
  width: 400px;
}

#search-btn{
  border: none;
  background-color: #fff;
  border-radius: 50%;
  }
