body{
    font-family: "Helvetica W01", "Microsoft YaHei", 微软雅黑, SimHei, 黑体, "PingFang SC", 萍方, "Noto Sans", sans-serif;
    font-style: normal;
    letter-spacing: normal;
    background:#fff;
  }
.slogan{
    font-family: "Orator W01", "Microsoft YaHei", serif;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 16px;
}
#search-box{
  box-sizing: border-box;
  background: #fff;
  border-radius: 50px;
}
#search-box #search-text{
  border: none;
  outline: none;
font-size: 13px;
width: 100px ;
border-radius: 50px;
transition: all 0.25s ease-in-out;
}
#search-box:hover #search-text, #search-box #search-text:valid{
  width: 400px;
}

#search-btn{
  border: none;
  background-color: #fff;
  border-radius: 50%;
  }

  .buttons_added {
      opacity:1;
      display:inline-block;
      display:-ms-inline-flexbox;
      display:inline-flex;
      white-space:nowrap;
      vertical-align:top;
  }
  .is-form {
      overflow:hidden;
      position:relative;
      height:2.2rem;
      width:1.9rem;
      padding:0;
      text-shadow:1px 1px 1px #fff;
     
  }
  .is-form:focus,.input-text:focus {
      outline:none;
  }
  .minus {
      border-radius:4px 0 0 4px;
      border-top:1px solid #000;
      border-bottom:1px solid rgb(0, 0, 0);
      border-left:1px solid rgb(0, 0, 0);
      border-right:0px ;
  }
  .plus {
      border-radius:0 4px 4px 0;
      border-top:1px solid #000;
      border-bottom:1px solid rgb(0, 0, 0);
      border-right:1px solid rgb(0, 0, 0);
      border-left:0px ;
  }
  .input-qty {
    background:#fffcf7;
      height:2.2rem;
      text-align:center;
      font-size:1rem;
      display:inline-block;
      vertical-align:top;
      margin:0;
      border-top:1px solid #000;
      border-bottom:1px solid rgb(0, 0, 0);
      border-left:0;
      border-right:0;
      padding:0;
  }
  .input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
      -webkit-appearance:none;
      margin:0;
  }
  .btn-addtocart {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;
    padding: 14px 35px;
    line-height: 22px;
    width: 100%;
    height: 49px;
  }
  .button {
    position: relative;
    display: inline-block;
    padding: 10px 28px;
    line-height: normal;
    border: 1px solid #d8d0d0;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    color: #080808;
    overflow: hidden;
  }
.size{
  border: 1px solid black;
  border-radius: 0%;
  width: 55px;
  height: 55px;
  padding-top: 17px ;
  font-size: 13px;
}
.color{
  border: 1px solid black;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.price{
  background-color: #f6f1eb;
color: #f6f1eb;
border: none;
width: 0px;
height: 0px;
}


